<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Usuario</h1>

		<f:flashMessages />

		<table  class="tx_usuario" >
			<tr>
				<th><f:translate key="tx_usuario_domain_model_usuario.nombre" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.ecivil" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.fechanacim" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.rut" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.nacionalidad" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.comuna" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.titulo" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.rol" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.experiencia" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.renta_pretencion" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.renta_minima" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.celular" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.cv_path" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.email" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.mensaje" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.gerente" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.jefe_proyecto" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.consultor" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.arq_software" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.desarrollador" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.analista_funcional" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.analista_procesos" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.analista_calidad" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.tester_aplicaciones" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.disenador_grafico" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.ingeniero_sistemas" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.soporte_ti" /></th>
				<th><f:translate key="tx_usuario_domain_model_usuario.otro" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{usuarios}" as="usuario">
				<tr>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.nombre}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.ecivil}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.fechanacim -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.rut}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.nacionalidad}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.comuna}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.titulo}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.rol}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.experiencia}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.rentaPretencion}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.rentaMinima}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.celular}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.cvPath}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.email}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.mensaje}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.gerente}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.jefeProyecto}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.consultor}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.arqSoftware}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.desarrollador}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.analistaFuncional}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.analistaProcesos}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.analistaCalidad}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.testerAplicaciones}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.disenadorGrafico}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.ingenieroSistemas}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.soporteTi}</f:link.action></td>
					<td><f:link.action action="show" arguments="{usuario : usuario}"> {usuario.otro}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{usuario : usuario}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{usuario : usuario}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Usuario</f:link.action>
	</f:section>
</html>