<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="nombre">
	<f:translate key="tx_usuario_domain_model_usuario.nombre" />
</label><br />
	<f:form.textfield property="nombre" /><br />
<label for="ecivil">
	<f:translate key="tx_usuario_domain_model_usuario.ecivil" />
</label><br />
	<f:form.textfield property="ecivil" /><br />
<label for="fechanacim">
	<f:translate key="tx_usuario_domain_model_usuario.fechanacim" />
</label><br />
	<f:form.textfield property="fechanacim" value="{usuario.fechanacim->f:format.date()}" /><br />
<label for="rut">
	<f:translate key="tx_usuario_domain_model_usuario.rut" />
</label><br />
	<f:form.textfield property="rut" /><br />
<label for="nacionalidad">
	<f:translate key="tx_usuario_domain_model_usuario.nacionalidad" />
</label><br />
	<f:form.textfield property="nacionalidad" /><br />
<label for="comuna">
	<f:translate key="tx_usuario_domain_model_usuario.comuna" />
</label><br />
	<f:form.textfield property="comuna" /><br />
<label for="titulo">
	<f:translate key="tx_usuario_domain_model_usuario.titulo" />
</label><br />
	<f:form.textfield property="titulo" /><br />
<label for="rol">
	<f:translate key="tx_usuario_domain_model_usuario.rol" />
</label><br />
	<f:form.textfield property="rol" /><br />
<label for="experiencia">
	<f:translate key="tx_usuario_domain_model_usuario.experiencia" />
</label><br />
	<f:form.textfield property="experiencia" /><br />
<label for="rentaPretencion">
	<f:translate key="tx_usuario_domain_model_usuario.renta_pretencion" />
</label><br />
	<f:form.textfield property="rentaPretencion" /><br />
<label for="rentaMinima">
	<f:translate key="tx_usuario_domain_model_usuario.renta_minima" />
</label><br />
	<f:form.textfield property="rentaMinima" /><br />
<label for="celular">
	<f:translate key="tx_usuario_domain_model_usuario.celular" />
</label><br />
	<f:form.textfield property="celular" /><br />
<label for="cvPath">
	<f:translate key="tx_usuario_domain_model_usuario.cv_path" />
</label><br />
	<f:form.textfield property="cvPath" /><br />
<label for="email">
	<f:translate key="tx_usuario_domain_model_usuario.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="mensaje">
	<f:translate key="tx_usuario_domain_model_usuario.mensaje" />
</label><br />
	<f:form.textarea property="mensaje" cols="40" rows="15" /><br />
<label for="gerente">
	<f:translate key="tx_usuario_domain_model_usuario.gerente" />
</label><br />
	<f:form.textfield property="gerente" /><br />
<label for="jefeProyecto">
	<f:translate key="tx_usuario_domain_model_usuario.jefe_proyecto" />
</label><br />
	<f:form.textfield property="jefeProyecto" /><br />
<label for="consultor">
	<f:translate key="tx_usuario_domain_model_usuario.consultor" />
</label><br />
	<f:form.textfield property="consultor" /><br />
<label for="arqSoftware">
	<f:translate key="tx_usuario_domain_model_usuario.arq_software" />
</label><br />
	<f:form.textfield property="arqSoftware" /><br />
<label for="desarrollador">
	<f:translate key="tx_usuario_domain_model_usuario.desarrollador" />
</label><br />
	<f:form.textfield property="desarrollador" /><br />
<label for="analistaFuncional">
	<f:translate key="tx_usuario_domain_model_usuario.analista_funcional" />
</label><br />
	<f:form.textfield property="analistaFuncional" /><br />
<label for="analistaProcesos">
	<f:translate key="tx_usuario_domain_model_usuario.analista_procesos" />
</label><br />
	<f:form.textfield property="analistaProcesos" /><br />
<label for="analistaCalidad">
	<f:translate key="tx_usuario_domain_model_usuario.analista_calidad" />
</label><br />
	<f:form.textfield property="analistaCalidad" /><br />
<label for="testerAplicaciones">
	<f:translate key="tx_usuario_domain_model_usuario.tester_aplicaciones" />
</label><br />
	<f:form.textfield property="testerAplicaciones" /><br />
<label for="disenadorGrafico">
	<f:translate key="tx_usuario_domain_model_usuario.disenador_grafico" />
</label><br />
	<f:form.textfield property="disenadorGrafico" /><br />
<label for="ingenieroSistemas">
	<f:translate key="tx_usuario_domain_model_usuario.ingeniero_sistemas" />
</label><br />
	<f:form.textfield property="ingenieroSistemas" /><br />
<label for="soporteTi">
	<f:translate key="tx_usuario_domain_model_usuario.soporte_ti" />
</label><br />
	<f:form.textfield property="soporteTi" /><br />
<label for="otro">
	<f:translate key="tx_usuario_domain_model_usuario.otro" />
</label><br />
	<f:form.textfield property="otro" /><br />
</html>