<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-usuario" >
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.nombre" />
		</td>
		<td>
		{usuario.nombre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.ecivil" />
		</td>
		<td>
		{usuario.ecivil}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.fechanacim" />
		</td>
		<td>
		{usuario.fechanacim -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.rut" />
		</td>
		<td>
		{usuario.rut}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.nacionalidad" />
		</td>
		<td>
		{usuario.nacionalidad}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.comuna" />
		</td>
		<td>
		{usuario.comuna}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.titulo" />
		</td>
		<td>
		{usuario.titulo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.rol" />
		</td>
		<td>
		{usuario.rol}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.experiencia" />
		</td>
		<td>
		{usuario.experiencia}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.renta_pretencion" />
		</td>
		<td>
		{usuario.rentaPretencion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.renta_minima" />
		</td>
		<td>
		{usuario.rentaMinima}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.celular" />
		</td>
		<td>
		{usuario.celular}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.cv_path" />
		</td>
		<td>
		{usuario.cvPath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.email" />
		</td>
		<td>
		{usuario.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.mensaje" />
		</td>
		<td>
		{usuario.mensaje}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.gerente" />
		</td>
		<td>
		{usuario.gerente}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.jefe_proyecto" />
		</td>
		<td>
		{usuario.jefeProyecto}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.consultor" />
		</td>
		<td>
		{usuario.consultor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.arq_software" />
		</td>
		<td>
		{usuario.arqSoftware}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.desarrollador" />
		</td>
		<td>
		{usuario.desarrollador}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.analista_funcional" />
		</td>
		<td>
		{usuario.analistaFuncional}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.analista_procesos" />
		</td>
		<td>
		{usuario.analistaProcesos}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.analista_calidad" />
		</td>
		<td>
		{usuario.analistaCalidad}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.tester_aplicaciones" />
		</td>
		<td>
		{usuario.testerAplicaciones}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.disenador_grafico" />
		</td>
		<td>
		{usuario.disenadorGrafico}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.ingeniero_sistemas" />
		</td>
		<td>
		{usuario.ingenieroSistemas}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.soporte_ti" />
		</td>
		<td>
		{usuario.soporteTi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usuario_domain_model_usuario.otro" />
		</td>
		<td>
		{usuario.otro}
		</td>
	</tr>
</table>
</html>